{{#each this}}
<ul class="country-block">
  <li class="country-item">
    <p>{{name}}</p>
    <p>Столица: {{capital}}</p>
    <p>Население: {{population}}</p>
    <p>Язык: </p>
    <ul>
      {{#each languages}}
      <li>{{this.name}}</li>
      {{/each}}
    </ul>
    <p>Флаг:<br><img src="{{flag}}" alt="флаг: {{name}}" /></p>
  </li>
</ul>
{{/each}}